ion-content {

    --background: linear-gradient(126deg, rgba(217, 237, 146, 0.773546918767507) 8%, rgba(82, 182, 154, 0.7483368347338936) 71%), url('../../../assets/background.png') 0 0/100% 100% no-repeat;

    p {
        color: #fff;
        font-size: 3rem;
        font-weight: bolder;
        text-shadow: 2px 2px 4px rgb(0, 0, 0);
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    :nth-child(1),
    :nth-child(2),
    :nth-child(3) {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    img {
        width: 14rem;
    }
}

// animacion letras
.letras {
    color: #fff;
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.roll-in-left {
	-webkit-animation: roll-in-left 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
	        animation: roll-in-left 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

@-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  

  .focus-in-contract-bck {
	-webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }