<ion-header class="ion-no-border">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex flex-column align-items-center">

    <ion-card class="ion-no-margin">

      <div class="d-flex justify-content-center mt-5 text-center">
        <ion-img src="../../../assets/icon.png"></ion-img>

      </div>

      <ion-card-header>

        <ion-card-title class="ion-no-margin">
          Ingresar
        </ion-card-title>

      </ion-card-header>

      <ion-card-content>

        <div class="wrapform">
          <form [formGroup]="formData">
            <div class="d-flex flex-column">

              <div class="input-group justify-content-center">

                <ion-item>
                  <ion-icon name="mail-outline" class="me-1"></ion-icon>
                  <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
                  <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
                    <p *ngIf="email.errors['required']">Ingresar email</p>
                    <p *ngIf="email.errors['email']">Ingresar email</p>
                  </div>
                </ion-item>

              </div>

              <div class="input-group justify-content-center">

                <ion-item>

                  <ion-icon name="lock-closed-outline" class="me-1"></ion-icon>
                  <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>

                  <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
                    <span *ngIf="password.errors['required']">Ingresar contraseña</span>
                    <span *ngIf="password.errors['minlength']">La contraseña debe ser de 6 digitos</span>
                  </div>

                </ion-item>

              </div>
            </div>
          </form>
          <!-- <div class="password-forgot">
          <ion-button fill="clear" class="ion-no-padding" routerLink="/register">No tenes
            cuenta?<strong>Registrate</strong></ion-button>
          </div> -->
        </div>
        <div class="signin-btns">
          <ion-button (click)="onLogin()" fill="solid" shape="round" class="loginbtn">Login</ion-button>
        </div>

        <div class="errors text-center">
          <p *ngIf="error === true">{{message}}</p>
        </div>


        <hr class="mt-5">




      </ion-card-content>
    </ion-card>

    <div class="signin-btns mt-5">
      <p><strong>Acceso Rápido</strong></p>
      <ion-button fill="outline" shape="round" (click)="testLogin()" class="ingresoRapido">Admin</ion-button>
      <ion-button fill="outline" shape="round" (click)="testLogin1()" class="ingresoRapido">Invitado</ion-button>
      <ion-button fill="outline" shape="round" (click)="testLogin2()" class="ingresoRapido">Usuario</ion-button>
    </div>
  </div>
</ion-content>