<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="volverAtras()">
      <ion-icon name="arrow-back-outline"> Back</ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    
    <div>

      <ion-button fill="clear" (click)="volverAtras()">
        <ion-icon name="play-back-circle-outline" size="large" class="m-1"></ion-icon>
      </ion-button>

      <div class="d-flex justify-content-center mt-5 text-center">
        <ion-img src="../../../assets/icon.png"></ion-img>

      </div>
    </div>

    <ion-card-header class="ion-no-padding">

      <ion-card-title>
        Registrate
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <div class="wrapform">
        <form [formGroup]="formData">
          <div class="d-flex flex-column">

            <div class="input-group justify-content-center">

              <ion-item>
                <ion-icon name="mail-outline" class="me-1"></ion-icon>
                <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
              </ion-item>

              <ion-item lines="none">
                <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
                  <p *ngIf="email.errors['required']">Ingresar email</p>
                  <p *ngIf="email.errors['email']">Ingresar email</p>
                </div>
              </ion-item>

            </div>


            <div class="input-group justify-content-center">

              <ion-item>
                <ion-icon name="lock-closed-outline" class="me-1"></ion-icon>
                <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
              </ion-item>

              <ion-item lines="none" class="ion-no-margin">
                <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
                  <span *ngIf="password.errors['required']">Ingresar contraseña</span>
                  <span *ngIf="password.errors['minlength']">La contraseña debe ser de 6 digitos</span>
                </div>
              </ion-item>

              <div class="input-group justify-content-center">

                <ion-item>
                  <ion-icon name="lock-closed-outline" class="me-1"></ion-icon>
                  <ion-input formControlName="confirmPassword" type="password"
                    placeholder="Confirmar contraseña"></ion-input>
                </ion-item>

                <ion-item lines="none" class="ion-no-margin">
                  <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
                    <span *ngIf="password.errors['required']">Ingresar contraseña</span>
                    <span *ngIf="password.errors['minlength']">La contraseña debe ser de 6 digitos</span>
                  </div>
                </ion-item>

                <div class="signin-btns">
                  <ion-button (click)="onRegister()" fill="solid" shape="round" class="loginbtn"
                    [disabled]="!formData.valid">Registrate</ion-button>
                </div>

                <div class="errors text-center">
                  <p *ngIf="error === true">{{message}}</p>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>





    </ion-card-content>
  </ion-card>
</ion-content>