
ion-content {
    --background: rgb(106, 4, 15);
    --background: linear-gradient(126deg, rgba(106, 4, 15, 1) 8%, rgba(244, 140, 6, 1) 84%);
}

ion-header {
    position: absolute;
}

ion-toolbar {
    --ion-background-color: transparent;
    opacity: 0;
}

ion-button {
    ion-icon {
        color: white;
        ::slotted(ion-icon) {
            font-size: 2em;
        }
    }
}

ion-card {
    --ion-background-color: transparent;
    box-shadow: none;
    ion-img {
        width: 10rem;
    }
}
ion-card-title {
    color: #fff;
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
}
ion-item {
    ion-icon, ion-input {
        color: white;
    }
}
.loginbtn {
    --ion-color-primary: #370617;
}
.text-tag {
    margin-top: 20px;
    text-align: center;
    span {
        font-size: 13px;
        font-weight: normal;
        color: #2D6A4F;
    }
}

.wrapform {
    margin-top: 20px;
}
.errors {
    font-size: small;
	color: #FFBA08;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.password-forgot {
    text-align: right;
    ion-button {
        font-size: 12px;
        text-transform: initial;
        color: #2D6A4F;
    }
}
