ion-content {
  --background: linear-gradient(126deg, rgba(217, 237, 146, 0.773546918767507) 8%, rgba(82, 182, 154, 0.7483368347338936) 71%), url('../../assets/background.png') 0 0/100% 100% no-repeat;
}

ion-fab-button.btn_traductor {
  --background: transparent;
  --color: dark;
}

ion-fab-button.btnSeleccion {
  --background: transparent;
  --color: dark;
}
ion-grid {
  height: 100%;
  display: flex;
}
ion-row {
  height: 100%;
  flex-grow: 1;
}
ion-button {
  border: 5px inset #184E77;
  width: 85%;
  height: 10rem;
  object-fit: contain;
  box-shadow: 5px 5px 5px #000;
  --background: #76C893 0.7;  
}

@media (min-height: 600px) {
  ion-button {
    width: 11rem;
    height: 16rem;
  }
}
