<ion-content >

  <!-- BOTON LOGOUT -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="logout()">
      <img src="../../assets/cerrar-sesion.png" alt="">
    </ion-fab-button>
  </ion-fab>

  <!-- BOTON TRADUCTOR -->
  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button>
      <img src="../../assets/img/espana.png" alt="imagen bandera" *ngIf="espaniol">
      <img src="../../assets/img/reino-unido.png" alt="imagen bandera" *ngIf="ingles">
      <img src="../../assets/img/portugal.png" alt="imagen bandera" *ngIf="portugues">
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button>
        <img src="../../assets/img/espana.png" alt="imagen bandera" *ngIf="!espaniol" (click)="langSelected(1)">
      </ion-fab-button>
      <ion-fab-button>
        <img src="../../assets/img/reino-unido.png" alt="imagen bandera" *ngIf="!ingles" (click)="langSelected(2)">
      </ion-fab-button>
      <ion-fab-button>
        <img src="../../assets/img/portugal.png" alt="imagen bandera" *ngIf="!portugues" (click)="langSelected(3)">
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <img src="../../assets/img/ganado.png" alt="imagen bandera" *ngIf="animales">
      <img src="../../assets/img/bloques-de-numeros.png" alt="imagen bandera" *ngIf="numeros">
      <img src="../../assets/img/color.png" alt="imagen bandera" *ngIf="colores">

    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button>
        <img src="../../assets/img/ganado.png" alt="imagen bandera" *ngIf="!animales" (click)="temaSeleccionado(1)">
      </ion-fab-button>
      <ion-fab-button>
        <img src="../../assets/img/bloques-de-numeros.png" alt="imagen bandera" *ngIf="!numeros" (click)="temaSeleccionado(2)">
      </ion-fab-button>
      <ion-fab-button>
        <img src="../../assets/img/color.png" alt="imagen bandera" *ngIf="!colores" (click)="temaSeleccionado(3)">
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- IMAGENES -->
    <ion-grid fixed="true">
      <ion-row >
        <ion-col size-md="4" class="d-flex justify-content-center" >
          <ion-button>
            <img src="../../assets/img/animales/caballo.png" alt="" *ngIf="animales" (click)="chooseAnimal('caballo')">
            <img src="../../assets/img/numeros/1.png" alt="" *ngIf="numeros" (click)="chooseNumber('uno')">
            <img src="../../assets/img/colores/azul.png" alt="" *ngIf="colores" (click)="chooseColor('azul')">
            
        </ion-button>
      </ion-col>
      <ion-col size-md="4" class="d-flex justify-content-center">
        <ion-button>
          <img src="../../assets/img/animales/cerdo.png" alt="" *ngIf="animales" (click)="chooseAnimal('cerdo')">
          <img src="../../assets/img/numeros/2.png" alt="" *ngIf="numeros" (click)="chooseNumber('dos')">
          <img src="../../assets/img/colores/blanco.png" alt="" *ngIf="colores" (click)="chooseColor('blanco')">
          
        </ion-button>
      </ion-col>
      <ion-col size-md="4" class="d-flex justify-content-center">
        <ion-button>
          <img src="../../assets/img/animales/gato.png" alt="" *ngIf="animales" (click)="chooseAnimal('gato')">
          <img src="../../assets/img/numeros/3.png" alt="" *ngIf="numeros" (click)="chooseNumber('tres')">
          <img src="../../assets/img/colores/naranja.png" alt="" *ngIf="colores" (click)="chooseColor('naranja')">
          
        </ion-button>
      </ion-col>
      <ion-col size-md="4" class="d-flex justify-content-center">
        <ion-button>
          <img src="../../assets/img/animales/leon.png" alt="" *ngIf="animales" (click)="chooseAnimal('leon')">
          <img src="../../assets/img/numeros/4.png" alt="" *ngIf="numeros" (click)="chooseNumber('cuatro')">
          <img src="../../assets/img/colores/negro.png" alt="" *ngIf="colores" (click)="chooseColor('negro')">
          
        </ion-button>
      </ion-col>
      <ion-col size-md="4" class="d-flex justify-content-center">
        <ion-button>
          <img src="../../assets/img/animales/perro.png" alt="" *ngIf="animales" (click)="chooseAnimal('perro')">
          <img src="../../assets/img/numeros/5.png" alt="" *ngIf="numeros" (click)="chooseNumber('cinco')">
          <img src="../../assets/img/colores/rojo.png" alt="" *ngIf="colores" (click)="chooseColor('rojo')">
          
        </ion-button>
      </ion-col>
      <ion-col size-md="4" class="d-flex justify-content-center">
        <ion-button>
          <img src="../../assets/img/animales/vaca.png" alt="" *ngIf="animales" (click)="chooseAnimal('vaca')">
          <img src="../../assets/img/numeros/6.png" alt="" *ngIf="numeros" (click)="chooseNumber('seis')">
          <img src="../../assets/img/colores/verde.png" alt="" *ngIf="colores" (click)="chooseColor('verde')">

        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>